<div class="content">
  <div class="container-fluid scrollable-table">
    <div class="container-right">
      <div class="search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            type="text"
            nz-input
            placeholder="Danh sách tìm kiếm"
            [(ngModel)]="searchTask"
            (ngModelChange)="onSearchChange()"
        /></nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div class="role-team">
        <nz-avatar-group>
          <nz-avatar
            style="color: #f56a00; background-color: #fde3cf"
            *ngFor="let member of teamData"
            [nzIcon]="member.picture ? 'user' : undefined"
            [nzSrc]="member.picture"
            title="{{ member.fullName }}"
          ></nz-avatar>
        </nz-avatar-group>
        <div class="team-avatar" (click)="showsTeamMember()">
          <span nz-icon nzType="user-add" nzTheme="outline"></span>
        </div>
      </div>
    </div>
    <div class="container-left">
      <button nz-button *ngIf="filterApplied" (click)="resetFilters()">
        Đặt lại bộ lọc
      </button>

      <!-- Chia sẻ -->
      <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="share">
        <span nz-icon nzType="share-alt" nzTheme="outline"></span>
        Chia sẻ
      </button>
      <nz-dropdown-menu #share="nzDropdownMenu">
        <ul nz-menu class="nz-menu-ul">
          <li nz-menu-item class="nz-menu-li" (click)="copyUrlToClipboard()">
            <span nz-icon nzType="link" nzTheme="outline"></span>
            Sao chép liên kết
          </li>
        </ul>
      </nz-dropdown-menu>
      <!-- Bộ lọc -->
      <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="filter">
        <span nz-icon nzType="align-center" nzTheme="outline"></span>
        Bộ lọc
      </button>
      <nz-dropdown-menu #filter="nzDropdownMenu">
        <ul nz-menu class="nz-menu-ul">
          <div class="css-xhdqsk">Lọc theo trạng thái công việc</div>
          <li nz-menu-item class="nz-menu-li" (click)="filterByStatus(1)">
            <img
              src="/assets/icon/task/lowest.svg"
              width="24px"
              height="24px"
              alt=""
            />
            Lowest
          </li>
          <li nz-menu-item class="nz-menu-li" (click)="filterByStatus(2)">
            <img
              src="/assets/icon/task/low.svg"
              width="24px"
              height="24px"
              alt=""
            />
            Low
          </li>
          <li nz-menu-item class="nz-menu-li" (click)="filterByStatus(3)">
            <img
              src="/assets/icon/task/medium.svg"
              width="24px"
              height="24px"
              alt=""
            />
            Medium
          </li>
          <li nz-menu-item class="nz-menu-li" (click)="filterByStatus(4)">
            <img
              src="/assets/icon/task/high.svg"
              width="24px"
              height="24px"
              alt=""
            />
            High
          </li>
          <li nz-menu-item class="nz-menu-li" (click)="filterByStatus(5)">
            <img
              src="/assets/icon/task/highest.svg"
              width="24px"
              height="24px"
              alt=""
            />
            Highest
          </li>
        </ul>
      </nz-dropdown-menu>

      <!-- Nhóm theo -->
      <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="group">
        <span nz-icon nzType="menu" nzTheme="outline"></span>
        Nhóm theo
      </button>
      <nz-dropdown-menu #group="nzDropdownMenu">
        <ul nz-menu class="nz-menu-ul">
          <div class="css-xhdqsk">Lọc theo bảng công việc</div>
          <li
            nz-menu-item
            class="nz-menu-li"
            (click)="filterTasks('alphabetical-asc')"
          >
            <span nz-icon nzType="file-unknown" nzTheme="outline"></span>
            Bảng chữ cái (A-Z)
          </li>
          <li
            nz-menu-item
            class="nz-menu-li"
            (click)="filterTasks('alphabetical-desc')"
          >
            <span nz-icon nzType="file-text" nzTheme="outline"></span>
            Bảng chữ cái (Z-A)
          </li>
          <li
            nz-menu-item
            class="nz-menu-li"
            (click)="filterTasks('updated-latest')"
          >
            <span nz-icon nzType="file-sync" nzTheme="outline"></span>
            Cập nhật lần cuối (Mới nhất)
          </li>
          <li
            nz-menu-item
            class="nz-menu-li"
            (click)="filterTasks('updated-oldest')"
          >
            <span nz-icon nzType="file-protect" nzTheme="outline"></span>
            Cập nhật lần cuối (Cũ nhất)
          </li>
        </ul>
      </nz-dropdown-menu>

      <!-- Hơn -->
      <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="hon">
        <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
        Tùy chọn
      </button>
      <nz-dropdown-menu #hon="nzDropdownMenu">
        <ul nz-menu class="nz-menu-ul">
          <div class="css-xhdqsk">Chọn chức năng</div>
          <li nz-menu-item class="nz-menu-li" (click)="downloadExcel()">
            <span
              nz-icon
              nzType="file-jpg"
              nzTheme="outline"
              class="drop-span"
            ></span>
            Xuất dạng CSV
          </li>
          <li nz-menu-item class="nz-menu-li">
            <span nz-icon nzType="file-excel" nzTheme="outline"></span>
            Xuất dạng JSON
          </li>
          <li nz-menu-item class="nz-menu-li">
            <span nz-icon nzType="qrcode" nzTheme="outline"></span>
            Hiển thị mã QR
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="container-body">
    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="filteredTasks"
      [nzShowPagination]="null"
      [nzScroll]="{ x: '1780px', y: '310px' }"
    >
      <thead>
        <tr>
          <th
            nzWidth="50px"
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            nzLeft
          ></th>
          <th>Tên công việc</th>
          <th>
            <span nz-icon nzType="number" nzTheme="outline"></span>
            Khóa
          </th>
          <!-- <th>Tóm tắt</th> -->
          <th>
            <span nz-icon nzType="right-circle" nzTheme="outline"></span>
            Trạng thái
          </th>
          <!-- <th>Loại</th> -->
          <th>Mô tả chi tiết</th>
          <th>
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            Giờ thực hiện
          </th>
          <th>
            <span nz-icon nzType="up-circle" nzTheme="outline"></span>
            Sự ưu tiên
          </th>
          <th>
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            Ngày tạo
          </th>
          <th>
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            Ngày cập nhật
          </th>
          <th>
            <span nz-icon nzType="team" nzTheme="outline"></span>
            Quản lý
          </th>
          <th nzWidth="100px">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data" style="cursor: pointer">
          <td nzLeft [nzChecked]="setOfCheckedId.has(data.id)"></td>
          <td>{{ data.taskType }}</td>
          <td>TS-{{ data.projectID }}</td>
          <!-- <td>{{ data.summary }}</td> -->
          <td>
            <nz-tag nzColor="success">{{ data.status }}</nz-tag>
          </td>
          <!-- <td>{{ data.age }}</td> -->
          <td>{{ data.description }}</td>
          <td>{{ data.actualHoursSpent }}</td>
          <td>{{ priorityMap[data.priority] }}</td>
          <td>{{ data.createdDate | date : "dd - MM - yyyy" }}</td>
          <td>{{ data.endDate | date : "dd - MM - yyyy" }}</td>
          <td>{{ data.fullName }}</td>
          <td>
            <span
              style="margin: 5px; cursor: pointer"
              nz-icon
              nzType="delete"
              nzTheme="outline"
              (click)="showDelete(data.taskID)"
            ></span>
            <span
              style="margin: 5px; cursor: pointer"
              nz-icon
              nzType="form"
              nzTheme="outline"
              (click)="showUpdate(data.taskID)"
            ></span>
            <span
              style="cursor: pointer"
              nz-icon
              nzType="copy"
              nzTheme="outline"
            >
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- Modal Delete -->
<nz-modal [(nzVisible)]="isDelete" [nzFooter]="null" nzWidth="480px">
  <ng-container *nzModalContent>
    <div class="deleteModal">
      <div class="warring" style="margin-bottom: 10px">
        <img src="/assets/icon/project/icon-warring.svg" alt="" />
      </div>
      <h5>Xóa công việc</h5>
      <p>
        Công việc bị xóa sẽ biến mất khỏi hệ thống bao gồm tất cả các thông tin
        đã lưu và các tài nguyên mà công việc đó đang sở hữu. Bạn chắc chắn muốn
        xóa công việc?
      </p>
    </div>
    <div class="footer">
      <button (click)="isDelete = false" class="footer-cancel">Hủy</button>
      <button class="footer-add" (click)="OkDelete()">Xác nhận</button>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isUpdate"
  [nzFooter]="null"
  nzTitle="Tạo công việc mới cho dựa án của bạn"
  [nzWidth]="850"
>
  <ng-container *nzModalContent>
    <div class="header-modal">
      <p>
        Phần bắt buộc được đánh dấu bằng một dấu sao
        <span style="color: red">*</span>
      </p>
      <div class="header-issue">
        <p>Vấn đề</p>
        <img
          _ngcontent-ng-c3631520248=""
          src="/assets/icon/project/Icon.svg"
          alt=""
        />
      </div>
    </div>
    <div class="form-project">
      <form>
        <div class="scrollable-table-form-project">
          <div class="block-form">
            <label for=""
              >Dự án của bạn <span style="color: red">*</span></label
            >
            <input
              style="width: 97%; color: #000000d9"
              placeholder="{{ taskUpdate.fullName }}"
              nz-input
              nzSize="large"
              id="projectName"
              name="projectName"
              disabled
            />
          </div>
          <div class="block-form">
            <label for=""
              >Quản lý dự án <span style="color: red">*</span></label
            >
            <input
              style="width: 97%; color: #000000d9"
              placeholder="{{ taskUpdate.teamName }}"
              nz-input
              nzSize="large"
              id="projectName"
              name="projectName"
              disabled
            />
          </div>
          <div class="block-form">
            <label for=""> Tên công việc </label>
            <input
              style="width: 97%"
              nz-input
              id="taskType"
              name="taskType"
              nz-input
              placeholder="Nhập tên công việc ..."
              [(ngModel)]="taskUpdate.taskType"
              nzSize="large"
            />
          </div>
          <div class="block-form">
            <label for="">
              Mô tả chi tiết <span style="color: red">*</span></label
            >
            <textarea
              rows="5"
              style="width: 97%"
              nz-input
              id="description"
              name="description"
              nz-input
              placeholder="Nhập mô tả chi tiết công việc ..."
              [(ngModel)]="taskUpdate.description"
              nzSize="large"
            ></textarea>
          </div>
          <div class="block-form">
            <label for="">Ngày khởi tạo</label>
            <nz-date-picker
              nzSize="large"
              style="width: 97%"
              [nzPlaceHolder]="'Ngày bắt đầu công việc ...'"
              [(ngModel)]="taskUpdate.createdDate"
              id="createdDate"
              name="createdDate"
            ></nz-date-picker>
          </div>
          <div class="block-form">
            <label for="">Ngày hết hạn</label>
            <nz-date-picker
              nzSize="large"
              style="width: 97%"
              [nzPlaceHolder]="'Ngày hết hạn công việc ...'"
              [(ngModel)]="taskUpdate.endDate"
              id="endDate"
              name="endDate"
            ></nz-date-picker>
          </div>
          <div class="block-form">
            <label for="">Sự ưu tiên <span style="color: red">*</span></label>
            <nz-select
              id="priority"
              name="priority"
              [(ngModel)]="taskUpdate.priority"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn trạng thái công việc ..."
              style="width: 97%"
            >
              <nz-option [nzValue]="1" nzLabel="Low"></nz-option>
              <nz-option [nzValue]="2" nzLabel="Lowest"></nz-option>
              <nz-option [nzValue]="3" nzLabel="Medium"></nz-option>
              <nz-option [nzValue]="4" nzLabel="High"></nz-option>
              <nz-option [nzValue]="5" nzLabel="Highest"></nz-option>
            </nz-select>
            <p
              style="
                margin-top: 5px;
                color: #1890ff;
                font-size: 13px;
                font-weight: 500;
                cursor: pointer;
              "
            >
              Tìm hiểu về mức độ ưu tiên
            </p>
          </div>
          <div class="block-form">
            <label for="">Tệp tin đính kèm</label>
            <nz-upload
              nzType="drag"
              [nzMultiple]="true"
              nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
              (nzChange)="handleChange($event)"
            >
              <p
                class="ant-upload-hint"
                style="
                  color: #000000d9;
                  display: flex;
                  text-align: center;
                  gap: 10px;
                  justify-content: center;
                "
              >
                <span nz-icon nzType="cloud-upload" nzTheme="outline"></span>
                <span>Thả tập tin để đính kèm hoặc kéo qua</span>
              </p>
            </nz-upload>
          </div>
          <div class="block-form">
            <label for=""
              >Thời gian ước tính <span style="color: red">*</span></label
            >
            <input
              style="width: 97%; color: #000000d9"
              placeholder="Nhập thời gian hoàn thành công việc"
              [(ngModel)]="taskUpdate.actualHoursSpent"
              nz-input
              nzSize="large"
              id="actualHoursSpent"
              name="actualHoursSpent"
            />
          </div>
          <p
            style="
              color: #707070;
              font-size: 13px;
              font-weight: 500;
              cursor: pointer;
              width: 350px;
            "
          >
            Ước tính số lượng công việc còn lại cho đến khi vấn đề này được giải
            quyết. <br />
            <span>
              Định dạng của nó là ' *w *d *h *m ' (biểu thị tuần, ngày, giờ và
              phút - trong đó * có thể là bất kỳ số nào).
            </span>
            <br />
            Ví dụ: 4d, 5h 30m, 60m và 3w.
          </p>

          <div class="block-form">
            <label for=""
              >Người được giao công việc
              <span style="color: red">*</span></label
            >
            <nz-select
              id="userID"
              name="userID"
              [(ngModel)]="taskUpdate.taskManagerID"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn thành viên hoặc nhóm cho dự án ..."
              style="width: 97%"
            >
              <nz-option
                *ngFor="let member of teamData"
                [nzLabel]="member.fullName"
                [nzValue]="member.userID"
              ></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="footer">
          <button (click)="isUpdate = false" class="footer-cancel">Hủy</button>
          <button class="footer-add" (click)="OnUpdate()">Xác nhận</button>
        </div>
      </form>
    </div>
  </ng-container>
</nz-modal>
